.form {
  padding-top: 20px;
  padding-right: 20px;

  .mat-form-field {
    &.hotel,
    &.client {
      width: 235px;
    }
  }
}

.card {
  max-width: 350px;
  margin-bottom: 20px;
}
.button {
  margin-top: 20px;
  margin-right: 20px;
}
