.page-container {
  width: 350px;
  .list-item {
    padding-bottom: 10px;
  }

  .form-card {
    margin-top: 10px;
    .form {
      display: flex;
      flex-direction: column;
    }
  }
}

.button {
  width: 120px;
  align-self: center;
}
